name: Java CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  secret-check:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Run GitLeaks Secret Detection
        uses: gitleaks/gitleaks-action@v2
        with:
          config-path: .gitleaks.toml
          redact: true
          verbose: true
          exit-code: 1
          github-token: ${{ secrets.GITHUB_TOKEN }}

  build:
    needs: secret-check
    runs-on: ubuntu-latest
    container:
      image: eclipse-temurin:21-jdk-jammy

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Maven Wrapper permissions
        run: chmod +x ./mvnw

      - name: Build with Maven Wrapper
        run: ./mvnw clean compile test package

      - name: Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: ./target/*.jar

  security-check:
    needs: build
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - name: Install and run Semgrep
        run: |
          pip3 install semgrep
          semgrep scan --config auto --sarif --output security-report.json
      
      - name: Upload security report
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: security-report.json

  sca:
    runs-on: ubuntu-latest
    needs: build
    container:
      image: eclipse-temurin:21-jdk-jammy

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Permission for mvnw
        run: chmod +x ./mvnw

      - name: Run OWASP Dependency-Check
        run: ./mvnw org.owasp:dependency-check-maven:check -Dformat=HTML -DsuppressionFile=suppressions.xml -DfailOnError=false

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: sca-report
          path: ./target/dependency-check-report.html
          
  dast_base:
    needs: build
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/zaproxy/zaproxy:latest
      options: --user root

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Java
        run: |
          apt-get update && apt-get install -y wget
          cd /opt
          wget https://download.java.net/java/GA/jdk21.0.2/f2283984656d49d69e91c558476027ac/13/GPL/openjdk-21.0.2_linux-x64_bin.tar.gz
          tar -xzf openjdk-21.0.2_linux-x64_bin.tar.gz
          export JAVA_HOME=/opt/jdk-21.0.2
          export PATH=$JAVA_HOME/bin:$PATH

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar

      - run: mkdir -p /zap/wrk/
      - run: /opt/jdk-21.0.2/bin/java -jar ./course-management-0.0.1-SNAPSHOT.jar & sleep 30
      - run: zap-baseline.py -t http://localhost:8080 -r report_site.html -I
      - run: cp /zap/wrk/report_site.html report_site.html

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: zap-base-report
          path: ./report_site.html

  dast_api:
    needs: build
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/zaproxy/zaproxy:latest
      options: --user root

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Java
        run: |
          apt-get update && apt-get install -y wget
          cd /opt
          wget https://download.java.net/java/GA/jdk21.0.2/f2283984656d49d69e91c558476027ac/13/GPL/openjdk-21.0.2_linux-x64_bin.tar.gz
          tar -xzf openjdk-21.0.2_linux-x64_bin.tar.gz
          export JAVA_HOME=/opt/jdk-21.0.2
          export PATH=$JAVA_HOME/bin:$PATH

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar
      - run: mkdir -p /zap/wrk/
      - run: /opt/jdk-21.0.2/bin/java -jar ./course-management-0.0.1-SNAPSHOT.jar & sleep 30
      - run: zap-api-scan.py -t http://localhost:8080 -f openapi -r report_site.html -I
      - run: cp /zap/wrk/report_site.html report_site.html

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: zap-api-report
          path: ./report_site.html
