name: Java CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: eclipse-temurin:21-jdk-jammy

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Maven Wrapper permissions
        run: chmod +x ./mvnw

      - name: Build with Maven Wrapper
        run: ./mvnw clean compile test package

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar

  security-check:
    needs: build  
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - name: Install and run Semgrep
        run: |
          pip3 install semgrep
          semgrep scan --config auto --sarif --output security-report.json
      
      - name: Upload security report
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: security-report.json

  sca:
    runs-on: ubuntu-latest
    needs: build
    container:
      image: eclipse-temurin:21-jdk-jammy

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Permission for mvnw
        run: chmod +x ./mvnw

      - name: Run OWASP Dependency-Check
        run: ./mvnw org.owasp:dependency-check-maven:check -Dformat=HTML -DsuppressionFile=suppressions.xml -DfailOnError=false

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: sca-report
          path: ./target/dependency-check-report.html

  dast-baseline:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download JAR artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: target/

      - name: Create empty ZAP rules file (tsv)
        run: touch zap-rules.tsv

      - name: Start application in background
        run: |
          java -jar target/*.jar &
          sleep 30  # ждём запуска приложения

      - name: Run ZAP baseline scan
        uses: zaproxy/action-baseline@v0.9.0
        with:
          target: 'http://localhost:8080'
          rules_file: 'zap-rules.tsv'
          cmd_options: '-j'

      - name: Upload ZAP baseline report
        uses: actions/upload-artifact@v4
        with:
          name: zap-baseline-report
          path: zap-report.html

  dast-api-scan:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download JAR artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: target/

      - name: Create empty ZAP rules file (tsv)
        run: touch zap-rules.tsv

      - name: Start application in background
        run: |
          java -jar target/*.jar &
          sleep 30

      - name: Run ZAP API scan
        uses: zaproxy/action-api-scan@v0.10.0
        with:
          target: 'http://localhost:8080'
          rules_file: 'zap-rules.tsv'

      - name: Upload ZAP API scan report
        uses: actions/upload-artifact@v4
        with:
          name: zap-api-report
          path: zap-report.html
