name: Java CI Pipeline

# Запуск только при PR в ветку main
on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    # Запуск на ОС Linux
    runs-on: ubuntu-latest
    
    # docker-образ с OpenJDK 21 и Maven
    container:
      image: eclipse-temurin:21-jdk-jammy

    steps:
    # шаг1: клонирование репозитория
    - name: Checkout code
      uses: actions/checkout@v4

    # шаг2: настройка прав доступа к скрипту mvnw 
    - name: Set up Maven Wrapper permissions
      run: |
        if [ -f "mvnw" ]; then
          chmod +x ./mvnw
          echo "Maven Wrapper permissions set"
        else
          echo "Using system Maven"
        fi

    # шаг3: запуск утилиты mvn для сборки
    - name: Build with Maven
      run: mvn clean compile test package

    # шаг4: сохранение артефактов
    - name: Upload JAR artifacts
      uses: actions/upload-artifact@v3
      with:
        name: java-app
        path: target/*.jar