name: Java CI

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: eclipse-temurin:21-jdk-jammy

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Maven Wrapper permissions
        run: chmod +x ./mvnw

      - name: Build with Maven Wrapper
        run: ./mvnw clean compile test package

      - name: Upload JAR artifacts
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: target/*.jar

  security-check:
    needs: build  
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - name: Install and run Semgrep
        run: |
          pip3 install semgrep
          semgrep scan --config auto --sarif --output security-report.json
      
      - name: Upload security report
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: security-report.json

  sca:
    runs-on: ubuntu-latest
    needs: build

    container:
      image: maven:3.9-eclipse-temurin-21

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Permission for mvnw
        run: chmod +x ./mvnw

      - name: OWASP check
        run: ./mvnw org.owasp:dependency-check-maven:check -Dformat=HTML -DsuppressionFile=suppressions.xml -DfailOnError=false

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: sca-report
          path: ./target/dependency-check-report.html
